<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class="signup">
            <form autocomplete="off">
                <h2>Sign Up</h2>
                <div><label for = "email">Email</label></div>
                <input type="text" name="email" class = "sign" autocomplete="off" >
                <div class="emailerror"></div>
                <div><label for = "password">Password</label></div>
                <input type="password" name="password" class = "sign"autocomplete="off" >
                <div class="passworderror"></div>
                <button class = "submit2">Submit</button>
            </form>
        </div>
         
        <%- include('../public/partials/footer') %>
        <script>
            const form= document.querySelector('form');
            const emailError = document.querySelector('.emailerror');
            const passwordError = document.querySelector('.passworderror');
            form.addEventListener('submit', async (e)=>{
                e.preventDefault(); 
                emailError.textContent=''; passwordError.textContent='';
                const email=form.email.value; const password=form.password.value;
                try{
                    const res=await fetch('/signup',{
                        method:'POST',
                        body:JSON.stringify({email:email,password:password}),
                      headers: {'Content-Type':'application/json'}
                    });
                    const data = await res.json(); 
                    console.log(data);
                    if(data.errors){
                       
                        emailError.textContent=data.errors.email;
                        passwordError.textContent=data.errors.password;
                    }
                    if(data.user){
                        location.assign('/');
                    }

                }
                catch(err){
                    console.log(err);
                }
                
            })
        </script>
    </body>
</html>