<div class="navbar">
    <div class= "top"><a class = "nav" href="/">HOME</a></div>
    <div class= "top"><a class = "nav" href="/about">ABOUT</a></div>
    <div class = "nav2">
    <div class= "top"><a class = "nav" href="/signup">SIGN UP</a></div>
    <div class= "top"><a class = "nav" href="/login">LOGIN</a></div>
    </div>
</div>